<% content_for :title do %>
  <%= session[:user].name %>'s Bookings | ruBnB
<% end %>
<h1>My Bookings</h1>

<div>

  <h3>Requests I've made</h3>
  <% for booking in @user_bookings do %>
    <div style="padding:10px">
      <span style="font-weight:bold"><%= @space_repo.find_by_id(booking.space_id).name %></span><br>
      Booking date: <%= booking.date.strftime('%d %B %Y')%><br>
      Status: <%= booking.request_status.capitalize %>
    </div>
  <% end %>

</div>

<div>

  <h3>Requests for my Spaces</h3>
  <% for booking in @space_bookings do %>
    <div style="padding:10px">
      <span style="font-weight:bold"><%= @space_repo.find_by_id(booking.space_id).name %></span><br>
      Booking date: <%= booking.date.strftime('%d %B %Y')%><br>
      Status: <%= booking.request_status.capitalize %>
    </div>
  <% end %>

</div>