<% content_for :title do %> <%=@space.name%> | ruBnB <% end %>

<h1><%= @space.name %></h1>

<p><%= @space.description %></p>

<div>
  <% @dates.each do |date| %>
  <p>Date: <%= date[:date] %> Status: <%= date[:status] %></p>
  <% end %>
</div>
<form method="POST" action="/book-a-space">
  <input type="hidden" name="id" value="<%" ="@space.id%" />
  <input type="submit" value="book" />
</form>
