<% content_for :title do %> <%=@space.name%> | ruBnB <% end %>

<h1><%= @space.name %></h1>

<p><%= @space.description %></p>

<div>
  <% @dates.each do |date| %>
  <p>Date: <%= date[:date] %> Status: <%= date[:status] %>
  <%if date[:status] == 'available' %>
  <form method="POST" action="/book">
  <input type="hidden" name="user_id" value="<%= @user_id%>"/>
  <input type="hidden" name="space_id" value="<%= @space.id %>"/>
  <input type="hidden" name="date" value="<%= date[:date] %>"/>
  <input type="submit" value="book" />
</form>
   <% end %>
  </p>
  <% end %>
  
</div>

