<% content_for :title do %> <%=@space.name%> | ruBnB <% end %>

<h1><%= @space.name %></h1>

<p><%= @space.description %></p>
<br>

<div>
  <% @dates.each do |date| %>
  <div class="availability-container <%= 'unavailable' if date[:status] == 'unavailable' %>">
  <p>Date: <%= date[:date] %></p>
  <div class="container availability">
  <p>Status: <%= date[:status] %> </p>
  <%if date[:status] == 'available' %>
  <form method="POST" action="/book">
  <input type="hidden" name="user_id" value="<%= @user_id%>"/>
  <input type="hidden" name="space_id" value="<%= @space.id %>"/>
  <input type="hidden" name="date" value="<%= date[:date] %>"/>
  <input type="submit" value="book" />
</form>
   <% end %>
  </div>
  </div>
  <% end %>
  
</div>

