<% content_for :title do %>
  Spaces | ruBnB
  <% end %>
    <h1>ruBnB</h1>

    <h2>Here are all the spaces:</h2>
    <% @spaces.each do |space| %>
      <div>
        <h3><a href="/spaces/<%=space.id%>">
            <%= space.name %>
          </a></h3>
        About this space: <%= space.description %> <br>
          Price per night: £<%= space.price_per_night %> <br>
            Currently available? <%= space.availability=="true" ? "Yes" : "No" %>
      </div>
      <% end %>